<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.jdt.ui.quickAssistProcessors">
          <processor id="io.github.josevjunior.applyStringFormatProcessor" class="io.github.josevjunior.ApplyStringFormatProcessor">
          </processor>
    </extension>

</plugin>
